* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --link-color: rgb(251, 244, 244);
    --padding-inline: 20px;
    --main-color: #f4a259;
    --secondary-color: #174550;
}

body {
    overflow: hidden;
    position: relative;
    background-color: var(--secondary-color);
}

button {
    display: inline-block;
    border-style: none;
    transition: all 0.25s ease-in-out;
    padding-inline: 6px;
    padding-block: 4px;
    background: rgb(0, 132, 0);
    color: white;
    border: 1px solid rgb(32, 31, 31);
}

button:hover {
    transform: translateY(2px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


    cursor: pointer;
}

.left-header {
    color: white;
    letter-spacing: 2px;
    text-align: center;
    background-color: var(--link-color);
}

.left-header {
    display: inline-block;
    text-decoration: none;
    color: var(--link-color);
    border-radius: 6px;
    padding: 4px;
    padding-inline: 6px;
    background-color: #5491b1d9;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.left-header:hover {

    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container {
    max-width: 1250px;
    padding-inline: var(--padding-inline);

    margin-inline: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.right-header {
    gap: 20px;
}

.header-container {
    justify-content: flex-end;
    width: 100%;
}

.header-section {
    padding-block: 15px;
    background-color: var(--secondary-color);
    width: 100vw;
    top: 0;
}


.hero-section {
    padding-top: 180px;
    flex-direction: column;
    background: var(--secondary-color);

}


.left-hero {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#sky {
    width: 100vw;
    height: 120vh;
}


.right-hero-flex {
    overflow-y: hidden;
    margin-top: 100px;
}

.clouds {
    position: absolute;
    top: 120px;
}

.left-hero {
    position: relative;
    z-index: 2003;
    border-radius: 6%;
    font-family: 'Lato', sans-serif;
    height: 350px;
    width: 270px;
    margin: 0 auto;
    padding: 30px;

    background: rgba(57, 236, 224, 0.516);
    box-shadow: 2px 3px 5px black;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);


}

#reset {
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateY(-7px);
    background-color: rgb(231, 105, 8);
    display: inline-block;
    padding: 4px;
    border-style: none;
    color: white;
    box-shadow: 1px 1px 3px black;

}

#reset:hover {
    transform: translateY(-14px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    background-color: rgb(194, 86, 4);
    cursor: pointer;
}

.far {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.far:nth-of-type(3) {
    border-bottom: none;
}

input {
    display: inline-block;
    border-style: none;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
    color: black;

}

label {
    margin-left: 4px;
    background-color: #1745505c;
    color: rgb(216, 205, 205);
    text-shadow: 1px 1px black;
    font-weight: bold;

}

/* Standard syntax */
@keyframes skyChange {
    0% {
        background: deepskyblue;
    }

    25% {
        background: deepskyblue;
    }

    32% {
        background: aliceblue;
    }

    41% {
        background: deepskyblue;
    }

    70% {
        background: deepskyblue;
    }

    100% {
        background: #00d2ff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,
                #3a7bd5,
                #00d2ff);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right,
                #3a7bd5,
                #00d2ff);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

/* Sun  */
.theSun {
    opacity: 1;
    box-shadow: 0px 0px 15px 3px rgb(206, 186, 4);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 15vh;
    left: 30vw;
    animation: sunpulse 2s alternate infinite;
    border-radius: 50%;
    background-image: radial-gradient(circle, #ffd200 95%, #f7971e);
}

@keyframes sunpulse {
    from {
        box-shadow: 0 0 100px #ff0, 0 0 100px #ff0;
    }

    to {
        box-shadow: 0 0 25px #ff0, 0 0 75px #ff0;
    }
}

/* Clouds */

.cloudwrapperOne,
.cloudwrapperTwo,
.cloudwrapperThree {
    animation: movecloudsoversky 60s linear infinite;
    animation-delay: -1s;
    z-index: 2001;
}

.cloudwrapperTwo {
    animation-delay: -1s;
}

.cloudwrapperOne {
    position: absolute;
    top: 500px;
}


.cloud {
    width: 200px;
    height: 60px;
    background: white;
    position: relative;
    border-radius: 200px;
    z-index: 2000;
}

.cloud:before,
.cloud:after {
    content: "";
    background: white;
    position: absolute;
    width: 100px;
    height: 80px;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

.c1 {
    margin-top: -20px;
    animation-delay: -2s;
}

.c2 {
    margin-top: 10px;
    animation-delay: -18s;
}

.c3 {
    margin-top: 5px;
    animation-delay: -7s;
}

@keyframes movecloudsoversky {
    0% {
        transform: translate(-25%, 10vh);
        opacity: 0.8;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        transform: translate(125%, 10vh);
        opacity: 0.4;
    }
}

/* Sun rays */

.ray_box {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    animation: ray_anim 120s linear infinite;
}

.ray {
    background: -webkit-linear-gradient(top,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.84) 50%,
            rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(top,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 100%);
    margin-left: 10px;
    border-radius: 80% 80% 0 0;
    position: absolute;
    opacity: 0.1;
}

.ray1 {
    height: 170px;
    width: 30px;
    transform: rotate(180deg);
    top: -175px;
    left: 15px;
}

.ray2 {
    height: 100px;
    width: 8px;
    transform: rotate(220deg);
    top: -90px;
    left: 75px;
}

.ray3 {
    height: 170px;
    width: 50px;
    transform: rotate(250deg);
    top: -80px;
    left: 100px;
}

.ray4 {
    height: 120px;
    width: 14px;
    transform: rotate(305deg);
    top: 30px;
    left: 100px;
}

.ray5 {
    height: 140px;
    width: 30px;
    transform: rotate(-15deg);
    top: 60px;
    left: 40px;
}

.ray6 {
    height: 90px;
    width: 50px;
    transform: rotate(30deg);
    top: 60px;
    left: -40px;
}

.ray7 {
    height: 180px;
    width: 10px;
    transform: rotate(70deg);
    top: -35px;
    left: -40px;
}

.ray8 {
    height: 120px;
    width: 30px;
    transform: rotate(100deg);
    top: -45px;
    left: -90px;
}

.ray9 {
    height: 80px;
    width: 10px;
    transform: rotate(120deg);
    top: -65px;
    left: -60px;
}

.ray10 {
    height: 190px;
    width: 23px;
    transform: rotate(150deg);
    top: -185px;
    left: -60px;
}

@keyframes ray_anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:450px) {
    .hero-section {
        overflow: hidden;
    }
}